
.carlist__container {
    background: #ffffff;
    
}

.carlistitem__cardview{
    display: flex;
    padding-left:100px;
    padding-right:100px;
}

.carlistitem_image{
    max-width: 80%;
    height: auto;
}