.companyloginpage__column {
    padding-top: 50px;
    padding-right: 50px;
    float: right;
}

.companyloginpage__form-group {
    padding-top: 10px;
    
}

.companyloginpage__container {
    padding: 30px;
    width: 500px;
    color: #333;
    background: #f3c718;
    height: 400px;
}


.companyloginpage__btn{
    background-color: #f3c718;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.companyloginpage__btn:hover{
    background-color: black;
    color: #f3c718;
}