.header{
    background: #f3c718;
    color: white;
    padding: $xs-size 0;
}

.header__logo{
    width:200px;
}

.header__nav{
    float: right;
    padding: $m-size $m-size;
}

.header__button{
    background-color: black;
}

