.searchForm{
    margin-top:10%;
}

.searchForm__subcontainer{
    justify-content: center;
    display: flex;
}

.searchForm__radius{
    border: 3px solid white;
    border-radius: 50%;
    margin-bottom: $l-size;
    width:200px;
    height:200px;
}
