.searchForm{
    margin-top:10%;
}

.searchForm__subcontainer{
    justify-content: center;
    display: flex;
}

.searchForm__radius{
    border: 3px solid white;
    border-radius: 50%;
    margin-bottom: $l-size;
    width:300px;
    height:300px;
}

.searchForm_pickupLocation{
    height:30px;
    width: 300px;
}

.searchForm_findButn{
    padding-left: 10px;
    height: 35px;
    width: 100px;
}
